{% extends "data/base.html" %}
{% block content %}
<style>
    h3, h4 {
        text-align: center;
        font-family: AlteHaasGroteskBold;
    }
    h5 {
        text-align: left;
        font-family: AlteHaasGroteskBold;
    }
    p {
        text-align: left;
        font-family: AlteHaasGrotesk;
    }
    div {
        text-align: center;
    }
    label{
        font-family: AlteHaasGroteskBold;
        font-size: small;
    }
</style>
<br><br><br>
<h2><center>ERROR</center></h2>
<p><center>Unfortunately, you have encountered an error. Please start again from the homepage.</center></p>
<br>
{% endblock content %}