{% extends "data/base.html" %}
{% block content %}
<!---Homepage for the application. This page allows a user to upload one or multiple .csv and .mat files with EMG data.-->
<style>
    h1 {
        color:#1A73E8;
        text-align: center;
        font-family: AlteHaasGroteskBold;
    }
    h3 {
        text-align: center;
        font-family: AlteHaasGroteskBold;
    }
    h4 {
        text-align: center;
        font-family: AlteHaasGroteskBold;
    }
    input[type="button"] {
        background-color: #4285F4;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-family: AlteHaasGroteskBold;
        padding: 14px 40px;
    }
    button{
        background-color: #4285F4;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-family: AlteHaasGroteskBold;
        padding: 14px 40px;
    }
    div {
        text-align: center;
    }
    label{
        font-family: AlteHaasGroteskBold;
        font-size: small;
    }
</style>
<h1>{% block title %}Iron Handmaidens{% endblock %}</h1>
<div class = "begin">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br><br>
        <h3>Please begin by uploading your csv or mat file(s).</h3>
        <br>
        <div class = "form-group">
            <input type="button" id="uploadFile" value="Upload Files" onclick="document.getElementById('csv-file').click();"/>
            <input type="file" style="display:none;" id="csv-file" name="csv-file" accept=".csv, .mat" multiple="true">
            <br><br>
            <h4 id="file-names">No files selected yet.</h4>
        </div>
        <div class = "go form-group">
            <h3>Once your file has been attached, click Submit.</h3>
            <button id="advance" type="submit" onclick="thanks()" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<div class = "thanks">
    <h3>Thank you for uploading the file! This may take a moment.</h3>
</div>

<script type = "text/javascript">
    let x = document.getElementsByClassName("thanks");
    for (let i = 0; i < x.length; i++) {
        x[i].style.display = 'none';
    }
    x = document.getElementsByClassName("go");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = 'none';
    }
    let input = document.getElementById('csv-file');
    let file_names = document.getElementById('file-names');
    input.addEventListener('change', showFileName);
    function showFileName(event) {
        let input = event.srcElement;
        file_names.innerHTML = 'Files: <br />';
        /*Empty array to store channel names for each file submitted*/
        for (let j = 0; j < input.files.length; j++) {
            let fileName = input.files[j].name;
            file_names.innerHTML += fileName + '<br><label for="ch1Name">Channel 1:</label><br><input type="text" id="ch1Name' + j +'" name="ch1Name" value="Channel 1"><br><label for="ch2Name">Channel 2:</label><br><input type="text" id="ch2Name' + j +'" name="ch2Name" value="Channel 2"><br><br />';
            /*Channel names are by the format 'ch1Namej' and 'ch2Namej'*/
        }
        let y = document.getElementsByClassName("go");
        for (j = 0; j < y.length; j++) {
            y[j].style.display = 'block';
        }
    }
    function thanks() {
        let y = document.getElementsByClassName("begin");
        for (let j = 0; j < y.length; j++) {
            y[j].style.display = 'none';
        }
        y = document.getElementsByClassName("thanks");
        for (j = 0; j < y.length; j++) {
            y[j].style.display = 'block';
        }
    }
</script>
{% endblock content %}