{% extends "data/base.html" %}
{% block content %}
<!---This page shows the processed data in its visualized form to the user.-->
<style>
	body{
		background-color: #E8EAED;
	}
</style>
<body>
	<style>
		h2{
			font-family: AlteHaasGroteskBold;
		}
		h3{
			font-family: AlteHaasGroteskBold;
		}
	</style>
	<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
	<!---Title and other setup of graph.-->
	<div align="center">
		<h2>Visualization</h2>
		<!--<h3>File name: {{ filename }}</h3>-->
		{% for table, plt in data %}
			{{ table | safe }}
			<br>
			{{ plt | safe }}
		{% endfor %}
		<input type="button" value="Download" onclick="window.open('download_zip')">
	</div>
</body>

{% endblock content %}